
.Error{
    position: fixed;
    inset: 30% 30% 45% 30%;
    z-index: 1111111111;
    margin: 0 auto;
    background-color: #292f3f;
    text-align: center;
    border-radius: 50px;
    padding: 2rem;
    background: #f18303;
    box-shadow: 5px 5px 10px #cd6f03 ,
    -5px -5px 10px #ff9703
}
@media only screen and (max-width: 35em) {
    .Error{
    inset: 30% 30% 55% 10%;
    }
}